<!DOCTYPE html>
{% extends 'medical/base.html' %}

{% load staticfiles %}

{% block body_block %}
<div class="cont" >
   <div class ="leftpan">
    <form>
      <h3>Enter your symptom</h3>
      <input type="text" name="message" id="user_input">
      <br>
      <br>
    </form>
    <input type="submit" onclick="checksymp();" >


    <p><span id='display'></span></p>
   </div>
   <div class ="right">
      <img src="{% static 'images/human.png' %}" alt="" height="550px" width="350px">
   </div>
</div>
{% endblock %}
