{% extends "medical/base.html" %}
{% load staticfiles %}
{%  load crispy_forms_tags %}
{% block body_block %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit" >Login</button>
    </div>
  </form>
  {% if messages %}
    {% for message in messages  %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <div class="border-top pt-3">
    <p>
      Need an Account?
        <a class="ml-2" href="{% url 'register' %}">Sign Up</a></p>
  </div>
</div>
{% endblock %}
