{% extends "medical/base.html" %}
{% load staticfiles %}
{%  load crispy_forms_tags %}
{% block body_block %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit" >Sign Up</button>
    </div>
  </form>
  {% if messages %}
    {% for message in messages  %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <div class="border-top pt-3">
    <small class="text-muted" >Already Have an Account?
      <a class="ml-2" href="{% url 'login' %}">Sign In</a>
    </small>
  </div>
</div>
{% endblock %}
